<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">
  <meta name="description" content="{{ description or siteData.description }}">
  <meta property="og:title" content="{{ title or siteData.title  }}"/>
  <meta property="og:description" content="{{ description or siteData.description }}" />
  <meta property="og:image" content="{{ '/img/og-image.png' | absoluteUrl(siteData.url) }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | absoluteUrl(siteData.url) }}" />
  <meta name="twitter:card" content="summary_large_image">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="alternate" href="{{ siteData.feed.path | url }}" type="application/atom+xml" title="{{ siteData.title }}">
  <link rel="alternate" href="{{ siteData.jsonfeed.path | url }}" type="application/json" title="{{ siteData.title }}">
  <title>{{ title }} | {{siteData.title}}</title>
</head>
  <body>
    <div class="overflow-x-hidden relative min-h-screen flex flex-col">
      <div class="header-shape"></div>
        <header class="bg-purple-700 text-white sticky top-0 z-50">
          <div class="container flex flex-col items-start p-4 md:flex-row md:items-center justify-between">
            <a href="{{ '/' | url }}" class="text-2xl mb-1 md:mb-0">{{ siteData.title }}</a>
            <ul class="grid grid-flow-col gap-6 text-sm md:text-base">
              {%- for entry in collections.all | eleventyNavigation %}
                <li><a href="{{ entry.url | url }}" class="{% if entry.url == page.url %}font-bold{% else %}font-light{% endif %}">{{ entry.title }}</a></li>
              {%- endfor %}
            </ul>
          </div>
        </header>

        <main class="container px-4 pt-0 pb-8 flex-grow relative">
            {{ content | safe }}
        </main>

        <footer class="bg-purple-700 text-white text-xs font-light">
          <div class="container p-4">
            &#169; {{siteData.currentYear}} David ⚔️ Soards
          </div>
        </footer>
    </div>
    {% set js %}
      {% include "js/main.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
