---
layout: default
---
{%- set postTags = tags| removePost(tags) %}
<div class="max-w-header mx-auto mb-8">
  <img class="mb-2" src="/img/{{ mainImage }}" alt="">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <div class="mt-4">
    {%- for tag in postTags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="bg-purple-700 inline-block text-white py-1 px-2 mb-2 mr-1">{{ tag }}</a>
    {%- endfor %}
  </div>
</div>

<div class="max-w-text mx-auto">
  {{ content | safe }}
</div>

<ul class="mt-12 pb-4 text-xs lg:text-sm">
  {%- set previousPost = collections.post | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li class="mb-4 lg:mb-0">Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  {%- set nextPost = collections.post | getNextCollectionItem(page) %}
  {%- if nextPost %}<li class="lg:text-right">Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
