---
layout: default
pageTitle: Page Title
---
<div class="container">
  <h1>{{ title }}</h1>
  <h2>This is global data: {{siteData.hello}}</h2>
  <ul>
    {# {%- for item in items %} #}
    <li>Item</li>
    {# {%- endfor %} #}
  </ul>
</div>

