---
pagination:
  data: collections
  addAllPagesToCollections: true
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
layout: page
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: Tagged “{{ tag }}”
---

{% set postslist = collections[ tag ] %}

<ol>
{% for post in postslist | reverse %}
  <li class="mb-2">
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | formatDate }}</time>
  </li>
{% endfor %}
</ol>

<p class="mt-8">See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</ol>
