---
permalink: /tags/
layout: page
title: Tags
---
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="bg-purple-700 inline-block text-white py-1 px-2 mb-2 mr-1">{{ tag }}</a>
{% endfor %}
